.work-container {
    z-index: 0;
    padding: 2em;
    position: relative;
    margin: auto;
}

.work-project-cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

@media only screen and (min-width: 900px) {
    .work-project-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        align-items: start;
    }
}
